body {
  background-image: url('medical.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: black;
  color: white;
  padding: 25px;
  max-width:100%;
  height:auto;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)),url(medical.jpg);
  font-family: retro;
}

@font-face {
  font-family: retro;
  src: url(./squarefont/Square.ttf);
}

.shadow-center-text {
  text-shadow: 2px 2px rgba(255,255,255,0.2);
  text-align:center;

}

#select-tool {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #e0e0e0;
  color: black;
  font-size: 30px;
  font-family: retro;
}

.option-text {
  text-align:center;
  padding: 10px;
  font-size: 30px;
}



.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

 .go-button {
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  margin: 4px 2px;
  transition-duration: 0.1s;
  cursor: pointer;
  border-radius: 25px;
  font-size: 30px;
  font-family: retro;

  margin: 0;
  position: relative;
  left: 49.5%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

}


.go-button:hover {
  background-color: #008CBA;
  color: white;
}

.button-container {
  top: 250px;
  height: 100%;
  width: 100%;
  position: relative;

  margin: 0;
  position: relative;
  left: 49.5%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

}



.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horizontal-center {
  margin: 0;
  position: relative;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.timer-container {
  position: fixed;
  bottom: 77px;
  margin: 0;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 1000px
}

.counter-container{
position: relative;
width: 400px;
height: 50px;
left: 60%;
transform: translateX(-50%);
}

.start-button{
  margin: 0;
  position: relative;
  left: 45%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 25px;

}

.reset-button{
  margin: 0;
  position: relative;
  left: 48.5%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 25px;

}
